# Temp & IDE files
.vscode/
*~
*.swp
*.swo

# Buidler files
cache
artifacts
node_modules/
output/

# Truffle files
build/

# Secrets
.etherscanKey
.infuraKey
.secret

# Solidity-coverage
coverage/
.coverage_contracts/
coverage.json

# Yarn
yarn-error.log

# NPM
package-lock.json

# Crytic
crytic-export/
